llama_index
llama-index-graph-stores-memgraph
llama-index
llama-index-core
nest_asyncio
llama_index.graph_stores.neo4j
pydantic
crawl4ai[all] #muss mit crawl4ai-setup installiert werden
langgraph
langchain-ollama